.paragraph{
    background-color: var(--color-sixth);
    border-color: var(--color-second);
    border-style: solid;
    border-width: 0px 1px 2px 1px;
    font-family: 'Radley';
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    height: 156px;
    line-height: 50px;
    padding: 110px 0px 120px 342px;
}