.header{
    align-items: flex-end;
    background-image: url(./assets/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #445418;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 280px;
    margin: none;
    width: 100%;
}