.sub-title{
    background-color: var(--color-fifth);
    font: italic 400 24px 'Radley', serif;
    float: inline-end;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 6%;
    text-align: center;
    width: 21.63rem;
}

.name-content{
    background-color: none;
    color: var(--color-first);
}