H1{
    color: #ffffff;
    width: 25.3%;
    font-family: 'Ovo', serif;
    text-shadow: 3px 4px 4px #000000;
    text-align: center;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4rem;
    height: 4rem;
    margin: 1.5% 2.95% 0% 2.95%;
}